USE [master]
GO
/****** Object:  Database [QLCP_VPP]    Script Date: 12/6/2020 8:08:50 AM ******/
CREATE DATABASE [QLCP_VPP]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCP_VPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCP_VPP]
GO
/****** Object:  Table [dbo].[BANBAODAM]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANBAODAM](
	[MA_BAN] [char](10) NOT NULL,
	[TENVP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[MA_CANBO] [char](10) NOT NULL,
	[TEN_CANBO] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[MA_DONVI] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CANBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PH_CP_VPP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PH_CP_VPP](
	[MA_VPP] [char](10) NULL,
	[MA_PH_CP] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAY_CP] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PH_NHAP_VPP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PH_NHAP_VPP](
	[MA_VPP] [char](10) NULL,
	[MA_PH_NHAP] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAY_NHAP] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDOITRA]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDOITRA](
	[MA_PHIEU] [char](10) NULL,
	[MA_VPP] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAY_DOITRA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MA_DONVI] [char](10) NOT NULL,
	[TEN_DONVI] [nvarchar](50) NULL,
	[SOLUONG_HV] [int] NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVPP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVPP](
	[MA_LOAI_VPP] [char](10) NOT NULL,
	[TENLOAI_VPP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_VPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MA_NCC] [char](10) NOT NULL,
	[TEN_NCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [char](10) NULL,
	[MA_BAN] [char](10) NULL,
	[MA_TRP] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCAPPHAT_VPP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCAPPHAT_VPP](
	[MA_PH_CP] [char](10) NOT NULL,
	[TEN_PH_CP] [nvarchar](50) NULL,
	[MANV] [char](10) NULL,
	[MA_DONVI] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PH_CP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDOITRA]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDOITRA](
	[MA_PHIEU] [char](10) NOT NULL,
	[TEN_PHIEU] [nvarchar](30) NULL,
	[MANV] [char](10) NULL,
	[MA_NCC] [char](10) NULL,
	[MA_DONVI] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP_VPP]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP_VPP](
	[MA_PH_NHAP] [char](10) NOT NULL,
	[TEN_PH_NHAP] [nvarchar](50) NULL,
	[MANV] [char](10) NULL,
	[MA_NCC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PH_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VANPHONGPHAM]    Script Date: 12/6/2020 8:08:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANPHONGPHAM](
	[MA_VPP] [char](10) NOT NULL,
	[TEN_VPP] [nvarchar](30) NOT NULL,
	[SOLUONG] [int] NULL,
	[MA_NCC] [char](10) NULL,
	[MA_BAN] [char](10) NULL,
	[MA_LOAI_VPP] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_VPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD  CONSTRAINT [FK_CB_DV] FOREIGN KEY([MA_DONVI])
REFERENCES [dbo].[DONVI] ([MA_DONVI])
GO
ALTER TABLE [dbo].[CANBO] CHECK CONSTRAINT [FK_CB_DV]
GO
ALTER TABLE [dbo].[CT_PH_CP_VPP]  WITH CHECK ADD  CONSTRAINT [DK_ctpCP_phCP] FOREIGN KEY([MA_PH_CP])
REFERENCES [dbo].[PHIEUCAPPHAT_VPP] ([MA_PH_CP])
GO
ALTER TABLE [dbo].[CT_PH_CP_VPP] CHECK CONSTRAINT [DK_ctpCP_phCP]
GO
ALTER TABLE [dbo].[CT_PH_CP_VPP]  WITH CHECK ADD  CONSTRAINT [FK_ctpCP_VPP] FOREIGN KEY([MA_VPP])
REFERENCES [dbo].[VANPHONGPHAM] ([MA_VPP])
GO
ALTER TABLE [dbo].[CT_PH_CP_VPP] CHECK CONSTRAINT [FK_ctpCP_VPP]
GO
ALTER TABLE [dbo].[CT_PH_NHAP_VPP]  WITH CHECK ADD  CONSTRAINT [FK_ctpNHAP_phNHAP] FOREIGN KEY([MA_PH_NHAP])
REFERENCES [dbo].[PHIEUNHAP_VPP] ([MA_PH_NHAP])
GO
ALTER TABLE [dbo].[CT_PH_NHAP_VPP] CHECK CONSTRAINT [FK_ctpNHAP_phNHAP]
GO
ALTER TABLE [dbo].[CT_PH_NHAP_VPP]  WITH CHECK ADD  CONSTRAINT [FK_ctpNHAP_VPP] FOREIGN KEY([MA_VPP])
REFERENCES [dbo].[VANPHONGPHAM] ([MA_VPP])
GO
ALTER TABLE [dbo].[CT_PH_NHAP_VPP] CHECK CONSTRAINT [FK_ctpNHAP_VPP]
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_CTPH_PH] FOREIGN KEY([MA_PHIEU])
REFERENCES [dbo].[PHIEUDOITRA] ([MA_PHIEU])
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA] CHECK CONSTRAINT [FK_CTPH_PH]
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_CTPH_VPP] FOREIGN KEY([MA_VPP])
REFERENCES [dbo].[VANPHONGPHAM] ([MA_VPP])
GO
ALTER TABLE [dbo].[CT_PHIEUDOITRA] CHECK CONSTRAINT [FK_CTPH_VPP]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_NV] FOREIGN KEY([MA_TRP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_VP] FOREIGN KEY([MA_BAN])
REFERENCES [dbo].[BANBAODAM] ([MA_BAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_VP]
GO
ALTER TABLE [dbo].[PHIEUCAPPHAT_VPP]  WITH CHECK ADD  CONSTRAINT [FK_phCAPPHAT_DV] FOREIGN KEY([MA_DONVI])
REFERENCES [dbo].[DONVI] ([MA_DONVI])
GO
ALTER TABLE [dbo].[PHIEUCAPPHAT_VPP] CHECK CONSTRAINT [FK_phCAPPHAT_DV]
GO
ALTER TABLE [dbo].[PHIEUCAPPHAT_VPP]  WITH CHECK ADD  CONSTRAINT [FK_phCAPPHAT_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUCAPPHAT_VPP] CHECK CONSTRAINT [FK_phCAPPHAT_NV]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PH_DV] FOREIGN KEY([MA_DONVI])
REFERENCES [dbo].[DONVI] ([MA_DONVI])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PH_DV]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PH_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PH_NCC]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PH_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PH_NV]
GO
ALTER TABLE [dbo].[PHIEUNHAP_VPP]  WITH CHECK ADD  CONSTRAINT [FK_phNHAP_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP_VPP] CHECK CONSTRAINT [FK_phNHAP_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP_VPP]  WITH CHECK ADD  CONSTRAINT [FK_phNHAP_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP_VPP] CHECK CONSTRAINT [FK_phNHAP_NV]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VPP_LOAI] FOREIGN KEY([MA_LOAI_VPP])
REFERENCES [dbo].[LOAIVPP] ([MA_LOAI_VPP])
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VPP_LOAI]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VPP_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VPP_NCC]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VPP_VP] FOREIGN KEY([MA_BAN])
REFERENCES [dbo].[BANBAODAM] ([MA_BAN])
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VPP_VP]
GO
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
USE [master]
GO
