<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="QLCP_VPP.Properties.Settings.QLCP_VPPConnectionString"
            connectionString="Data Source=127.0.0.1,57122;Initial Catalog=QLCP_VPP;User ID=victus;Password=temperament;Encrypt=False;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="Main.ConnectionString" value="Data Source=127.0.0.1,57122;Initial Catalog=QLCP_VPP;User ID=victus;Password=temperament;Encrypt=False;TrustServerCertificate=True;"/>
	</appSettings>
</configuration>